/* Layout */
.menu,
.what-we-do-section {
  background-color: var(--background-color-primary);
  color: var(--text-color-white);
}

.footer-container {
  background-color: var(--background-color-dark-grey);
  color: var(--text-color-white);
}

.contact-section {
  background-color: var(--background-color-primary-light);
  color: var(--text-color-white);
}

/* Components */
.menu-link,
.welcome-caption h1 {
  color: var(--text-color-white);
}

.trip-label {
  background-color: var(--background-color-dark-white);
}

.button-contact {
  background-color: var(--background-color-dark-white);
}

.footer-content a {
  color: var(--text-color-pink);
}

.footer-content a:hover {
  color: var(--text-color-dark-pink);
}

.bar {
  background-color: var(--background-color-white);
}