/* PAGE layout */
@media screen and (max-width: 768px) {
  .hero-section,
  .what-we-do-section,
  .trips-section,
  .contact-section,
  .reviews {
    margin-bottom: 3rem;
  }
}

/* Mobile resolution - Menu and Welcome-caption */
@media screen and (max-width: 768px) {
  .navigation {
    background-color: var(--background-color-primary);
  }

  .menu {
    display: flex;
    position: sticky;
    justify-content: right;
    padding: 1.5rem;
    border-bottom: 2px solid var(--background-color-white);
  }

  .menu-list {
    position: fixed;
    left: 100%;
    top: 5rem;
    flex-direction: column;
    background-color: var(--background-color-primary);
    width: 100%;
    border-radius: 10px;
    text-align: right;
    transition: 0.3s;
  }

  .menu-list.active {
    left: 0;
  }

  .menu-items {
    margin: 1rem;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
  
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .welcome-caption h1 {
    position: absolute;
    text-align: right;
    font-weight: bolder;
    font-size: 42px;
    inline-size: 12rem;
  }
}

/* Mobile resolution - About us */
@media screen and (max-width: 768px) {
  .about-us {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    align-items: center;
    justify-content: space-between;
    gap: 45px;
  }

  .about-us-content,
  .about-us-image {
    flex: 1 1 50%;
  }
}

/* Mobile resolution - What we do */
@media screen and (max-width: 768px) {
  .what-we-do {
    padding: 3rem;
  }

  .what-we-do-content {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0;
  }

  .what-we-do-icons,
  .what-we-do-activities {
    padding: 1.5rem;
    text-align: center;
  }

  .activities-list,
  .activities-items {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .activities-list {
    flex-direction: row;
    gap: 3rem;
  }

  .activities-items {
    display: flex;
    list-style: none;
    flex: 1 1 100%;
    flex-direction: column;
    font-size: 24px;
    gap: 1.5rem;
  }
}

/* Mobile resolution - Our Trips */
@media screen and (max-width: 768px) {
  .trips-images {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    gap: 0.5rem;
    flex-basis: 100%;
    flex-direction: column;
  }

  .trip-moment {
    width: 272px;
    height: 222px;
    object-fit: cover;
    border-radius: 5px;
    margin: 0 auto;
  }

  .trip-label {
    width: 272px;
    height: 100%;
    align-self: center;
  }
}

/* Mobile resolution - Where do you want to go? */
@media screen and (max-width: 768px) {
  .contact-section {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
  }

  .contact-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 3rem;
    margin: 2rem;
  }
}

/* Mobile resolution - Reviews */
@media screen and (max-width: 768px) {
  .reviews-container,
  .reviews-content,
  .reviews-detail {
    flex-wrap: wrap;
    padding: 1rem;
  }
}

/* Mobile resolution - Footer */
@media screen and (max-width: 768px) {
  .image-content {
    flex-basis: 100%;
  }

  .footer-container {
    padding: 2rem;
    text-align: center;
  }
}




