@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&family=Work+Sans:wght@200&display=swap");

:root {
  --background-color-primary: #33292a;
  --background-color-primary-light: #644b4f;
  --background-color-dark-white: #f2f2f2;
  --text-color-white: #fff;
  --text-color-black: #000;
  --text-color-pink: #efa69d;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

header {
  /* position: sticky; 
  top: 0; */
  margin-bottom: 2rem;
}

p {
  font-weight: 400;
  font-size: 16px;
}

h2 {
  font-weight: 700;
  font-size: 32px;
}
